@model IEnumerable<Cedric.Models.Projetc>
@{
    ViewData["Title"] = "Index";
}
<div id="toolbar" class="col-6 text-left">
    <a class="btn btn-primary" asp-action="Create">
        <i class="fas fa-plus"></i> &nbsp; Add  Project
    </a>
</div>
<br />
@if (Model.Count() > 0)
{
    <table class="table">
        <thead class="thead-dark text-white">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Image</th>
                <th scope="col">Client</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var products in Model)
            {
            <tr>
                <th scope="row">@products.Id</th>
                <td>@products.Name</td>
                <td>@products.ImageUrl</td>
                <td>@products.Category</td>
                <td>
                    <div class="w-35 btn-group" role="group">

                        <a asp-route-Id="@products.Id" asp-action="SupplierMachines" class="btn btn-danger">
                            <i class="far fa-eye"></i>
                        </a>
                        <a asp-route-Id="@products.Id" asp-action="Edit" class="btn btn-primary mx-2">
                            <i class="fas fa-edit"></i>
                        </a>

                        <a asp-route-Id="@products.Id" asp-action="Delete" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i>
                        </a>


                    </div>
                </td>
            </tr>
            }

        </tbody>
    </table>
}
else
{
    <p>No Departments available</p>
}




